[submodule "lib/hyn/bootstraps/twitter/lib"]
	path = lib/hyn/bootstraps/twitter/lib
	url = https://github.com/twitter/bootstrap.git
[submodule "lib/modules/piwik/lib"]
	path = lib/modules/piwik/lib
	url = https://github.com/piwik/piwik.git
[submodule "lib/hyn/onapp/lib"]
	path = lib/hyn/onapp/lib
	url = https://github.com/OnApp/OnApp-PHP-Wrapper.git
[submodule "lib/hyn/twig/lib"]
	path = lib/hyn/twig/lib
	url = https://github.com/fabpot/Twig.git
[submodule "public_html/js/libs/aloha"]
	path = public_html/js/libs/aloha
	url = https://github.com/alohaeditor/Aloha-Editor.git
[submodule "public_html/js/libs/sugar"]
	path = public_html/js/libs/sugar
	url = https://github.com/andrewplummer/Sugar.git
[submodule "public_html/js/libs/jquery/lib"]
	path = public_html/js/libs/jquery/lib
	url = https://github.com/jquery/jquery.git
[submodule "public_html/phpma"]
	path = public_html/phpma
	url = https://github.com/phpmyadmin/phpmyadmin.git
[submodule "lib/hyn/min/lib"]
	path = lib/hyn/min/lib
	url = https://github.com/mrclay/minify.git
[submodule "lib/hyn/pushnotify/lib"]
	path = lib/hyn/pushnotify/lib
	url = https://github.com/pusher/pusher-js.git
[submodule "public_html/js/libs/jquery/plugins/noty"]
	path = public_html/js/libs/jquery/plugins/noty
	url = https://github.com/needim/noty.git
[submodule "lib/hyn/social/twitter/lib"]
	path = lib/hyn/social/twitter/lib
	url = https://github.com/jmathai/twitter-async.git
[submodule "public_html/media/icons/18/fugue"]
	path = public_html/media/icons/18/fugue
	url = https://github.com/yusukekamiyamane/fugue-icons.git
[submodule "lib/hyn/restler/lib"]
	path = lib/hyn/restler/lib
	url = https://github.com/Luracast/Restler.git
[submodule "public_html/js/libs/jquery/jquerytools"]
	path = public_html/js/libs/jquery/jquerytools
	url = https://github.com/jquerytools/jquerytools.git
[submodule "lib/modules/thinkup/lib"]
	path = lib/modules/thinkup/lib
	url = https://github.com/ginatrapani/ThinkUp.git
[submodule "public_html/js/libs/jquery/plugins/camera"]
	path = public_html/js/libs/jquery/plugins/camera
	url = https://github.com/pixedelic/Camera.git
[submodule "public_html/js/libs/jquery/themes/aristo"]
	path = public_html/js/libs/jquery/themes/aristo
	url = https://github.com/taitems/Aristo-jQuery-UI-Theme.git
[submodule "public_html/js/libs/leaflet"]
	path = public_html/js/libs/leaflet
	url = https://github.com/CloudMade/Leaflet.git
[submodule "lib/hyn/github-api/lib"]
	path = lib/hyn/github-api/lib
	url = https://github.com/ornicar/php-github-api.git
[submodule "lib/hyn/swiftmailer/lib"]
	path = lib/hyn/swiftmailer/lib
	url = https://github.com/swiftmailer/swiftmailer.git
[submodule "public_html/js/libs/jquery/plugins/form-validation"]
	path = public_html/js/libs/jquery/plugins/form-validation
	url = https://github.com/victorjonsson/jQuery-Form-Validator.git
[submodule "public_html/js/libs/pushnotify/ape"]
	path = public_html/js/libs/pushnotify/ape
	url = https://github.com/APE-Project/APE_JSF.git
[submodule "lib/hyn/pushnotify/serve"]
	path = lib/hyn/pushnotify/serve
	url = https://github.com/squeeks/Pusher-PHP
[submodule "lib/hyn/elfinder/lib"]
	path = lib/hyn/elfinder/lib
	url = https://github.com/Studio-42/elFinder.git
