[submodule "lib/hyn/bootstraps/twitter/lib"]
	path = lib/hyn/bootstraps/twitter/lib
	url = https://github.com/twitter/bootstrap.git
[submodule "lib/modules/piwik/lib"]
	path = lib/modules/piwik/lib
	url = https://github.com/piwik/piwik.git
[submodule "lib/hyn/onapp/lib"]
	path = lib/hyn/onapp/lib
	url = https://github.com/OnApp/OnApp-PHP-Wrapper.git
[submodule "lib/hyn/twig/lib"]
	path = lib/hyn/twig/lib
	url = https://github.com/fabpot/Twig.git
[submodule "public_html/js/libs/aloha"]
	path = public_html/js/libs/aloha
	url = https://github.com/alohaeditor/Aloha-Editor.git
[submodule "public_html/js/libs/sugar"]
	path = public_html/js/libs/sugar
	url = https://github.com/andrewplummer/Sugar.git
[submodule "public_html/js/libs/jquery/lib"]
	path = public_html/js/libs/jquery/lib
	url = https://github.com/jquery/jquery.git
