	{% include "header" %}
	<div class="hero-unit">
		<h1>{{ domain.name }}</h1>
		<p>{{ domain.name }}
				{% if domain.free == true %}
					is <strong>available</strong>. Register it now for only &euro; {{ domain.prices.1 }} each year.
				{% else %}
					is already registered. If this domain belongs to you, it is possible to transfer your domain to us.
				{% endif %} You <em>can</em> immediately start with your own sparked cloud!</p>
		<p><a href="/spark/{{ domain.name }}" class="btn primary large">{% if domain.free == 1 %}Register{% else %}Move{% endif %} Now &raquo;</a></p>
	</div>
	{% include "salespoints" %}
	{% include "footer" %}