	{% include "header" %}
	<div class="row steps steps-0">
		<br /><br />
		<div class="span4">
			<h3>Discover <small>the possibilities</small></h1>
			<div class="details">
				Start a store, blog, crm on a hosting environment tuned for the best performance and freedom of growth.
				<ul class="nav nav-list">
					<li><a href="/discover/">What is cloudspark?</a></li>
					<li><a href="/discover/software/">List of all supported software solutions</a></li>
				</ul>
			</div>
			<div class="form-actions text-center">
				<a class="btn btn-large" href="/discover/">1: learn about the cloud</a>
			</div>
		</div>
		<div class="span4">
			<h3>Decide <small>on your package</small></h1>
			<p class="details">
				Pick the options that best fit your needs. No more, no less.
			</p>
			<div class="form-actions text-center">
				<a class="btn btn-large" href="/decide/">2: configure your cloud</a>
			</div>
		</div>
		<div class="span4">
			<h3>Deploy <small>and use immediately</small></h1>
			<ul class="details">
				<li>Free 7 days test period</li>
				<li>Directly installed, ready for use</li>
			</ul>
			<div class="form-actions text-center">
				<a class="btn btn-large" href="/deploy/">3: deploy your cloud</a>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="span4">
		
		</div>
		<div class="span4">
		
		</div>
		<div class="span4">
		
		</div>
	</div>
	<hr>
	{% include "salespoints" %}
	{% include "footer" %}