	{% include "header" %}
	<div class="hero-unit">
		<div{# id="slides"#}>
			<div class="slides_container">		
				<div class="slide">
					<h1>Spark your own cloud</h1>
					<p>Whether linux, windows, joomla!, wordpress or magento hosting; with cloudspark you can set-up your own hosting-website instantly and offer cloud services to your market.</p>
					<p><a class="btn primary large">Try Now &raquo;</a></p>
				</div>{#
				<div class="slide">
					<h1>Setting up</h1>
					<p>Whether linux, windows, joomla!, wordpress or magento hosting; with cloudspark you can set-up your own hosting-website instantly and offer cloud services to your market.</p>
					<p><a class="btn primary large">Try Now &raquo;</a></p>
				</div>#}
			</div>
		</div>
	</div>
	{% include "salespoints" %}
	{% include "footer" %}