	{% include "header" %}
	<div class="row">
		<div class="span4">
			<h3>Content management system</h3>
			<p>
				HYN is a multi-domain, modular content management system; with only one installation one can manage multiple sites, each with their own functionalities, design and users.
			</p>
		</div>
		<div class="span4">
			<h3>Requirements</h3>
			<p>
				HYN is fully functional when using
				<ul>
					<li>Apache or Nginx</li>
					<li>PHP 5.3+</li>
					<li>MySQL 4+</li>
				</ul>
			</p>
		</div>
		<div class="span4">
			<h3>Technology</h3>
			<ul>
				<li>Twig ; template engine</li>
				<li>Twitter bootstrap ; built sites easily if you want</li>
				<li>Aloha <abbr title="What You See Is What You Get">WYSIWYG</abbr>-editor ; edit pages exactly as they will look</li>
				<li>Jquery &amp; plugins ; extendable and dependable javascript</li>
			</ul>
		</div>
	</div>
	{% include "footer" %}
