	<div class="row">
		<div class="span4"><h3>Sell <small>don't worry about how it works</small></h3>
			<img class="right" src="/media/icons/64/pro-ecommerce/shop-open.png" />
			<ul class="unstyled">
				<li>People with years of experience are taking care of your website, servers and domains. Ensuring all settings are optimized for your needs!</li>
				<li>Helpdesk by phone during work hours to help you with any questions you might have.</li>
			</ul>
		</div>
		<div class="span4"><h3>Grow <small>without limitations</small></h3>
			<img class="right" src="/media/icons/64/pro-ecommerce/full-cart.png" />
			<p>You're free to grow in any direction;
			<ul>
				<li>Speed</li>
				<li>Bandwidth usage</li>
				<li>Storage</li>
				<li>Location</li>
			</ul>
		</div>
		<div class="span4"><h3>Pay <small>per period or based on usage</small></h3>
			<img class="right" src="/media/icons/64/pro-ecommerce/wallet.png" />
			<ul class="unstyled">
				<li><span class="label">usage-based</span></li><li>Best when expecting irregular peaks of visitors</li>
				<li><span class="label">per period</span></li><li>Best to balance stable income and cost</li>
			</ul>
		</div>
	</div> 
