	{% include "header" %}
	
	<div class="row">
		<div class="span6">
			<h1>{% if visitor.user %}Log Out{% else %}Log In{% endif %}</h1>
			<form method="POST" class="form-horizontal">
			{% if visitor.user %}
				<p>
					Currently logged in as <code>{{ visitor.user.realname }}</code>.
				</p>
				<div class="form-actions">
					<input type="button" class="btn btn-large btn-primary" name="logout-user" value="Not you? Log out" />
				</div>
			{% else %}
				<div class="control-group">
					<label class="control-label" for="login-username">Username</label>
					<div class="controls">
						<input type="text" class="input" id="login-username" name="login-username" placeholder="your e-mail address" />
						{% if error.username %}<p class="help-block">{{ error.username }}</p>{% endif %}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="login-password">Password</label>
					<div class="controls">
						<input type="password" class="input" id="login-password" name="login-password" />
						{% if error.password %}<p class="help-block">{{ error.password }}</p>{% endif %}
					</div>
				</div>
				<div class="form-actions">
					<input type="submit" name="login-user" class="btn btn-primary btn-large" value="Login" />
					<input type="submit" name="login-fpw" class="btn btn-large" value="Recover" />
				</div>
			{% endif %}
			</form>
		</div>
		<div class="span6">
			{% if visitor.user %}
				<h1>Shortcuts</h1>
				<ul class="nav nav-list">
					<li><a href="/account/">Account</a></li>
				</ul>
			{% else %}
				<h1>Sign up</h1>
				<blockquote>Currently disabled, our apologies for making you anxious.<small>Cloudspark</small></blockquote>
				<form method="POST" class="form-horizontal">
					<div class="form-actions">
						<input type="submit" name="register-user" class="btn btn-primary btn-large" value="Register" />
					</div>
				</form>
			{% endif %}
		</div>
	</div>
	
	{% include "footer" %}