body {
padding-top: 120px;
}

.header-cs
{ padding: 20px 0; background: whiteSmoke; border-bottom: 1px solid #DDD; }
.header-cs .container 
{  }
.header-cs .brand
{ font-family: 'Cuprum'; color: #000; font-size: 35px; float: left; width: 300px; letter-spacing: 4px; word-spacing: 3px; }
.header-cs .brand a 
{ text-decoration: none; }


/*

*/
.steps .details
{ min-height: 105px; }