		<footer>
			<div class="left"><span class="label">powered by</span> <span class="label important">HYN</span> <span class="label">+</span> <span class="label important">HostingXS</span></div>
			<div class="right">
				<form method="POST" class="clearfix">
					<div class="input">
						<div class="input-prepend inline">
							<label class="add-on">
								Domain availability
							</label>
							<input id="hxs-domaincheck" name="hxs-domain-name" size="20" type="text" value="{% if domain %}{{ domain.name }}{% endif %}">
						</div>
						<input type="submit" class="marged-w btn inline" value="check" name="hxs-domain-check" />
					</div>
				</form>
			</div>
		</footer> 
	</div>
	{% for js in dom.js %}
	<script src="{{ js }}"></script>
    {% endfor %}
</body> 
</html>