		<footer>
			<div class="left"><span class="label">powered by</span> <span class="label important">HYN</span> <span class="label">+</span> <span class="label important">HostingXS</span></div>
			<div class="right">
				<form method="POST" class="clearfix">
					<label for="hxs-domaincheck">Domain Availability</label>
					<div class="input">
						<div class="input-append">
							<input class="mini" id="hxs-domaincheck" name="hxs-domain-name" size="16" type="text">
							<label class="add-on">
								<input type="checkbox" name="hxs-multi" value="1">
							</label>
						</div>
						<input type="submit" class="marged-w btn primary right" value="check domain" name="hxs-domain-check" />
					</div>
				</form>
			</div>
		</footer> 
	</div>
</body> 
</html>