
		<footer class="row">
			<div class="span6">
				<address>
					<h6>HYN.me - simply a modern, multi-domain CMS </h6>
					<h6>alpha version</h6>
				</address>
			</div>
			<div class="span6">
				<a 
					href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
					<img 
						data-popover-placement="top" 
						data-content="<strong>Summary:</strong> This license lets you remix, tweak, and build upon our work <em>non-commercially</em>, as long as you credit us and license your new creations under the identical terms." 
						data-original-title="HYN License"
						src="/images/hyn.me/by-nc-sa.eu.png" style="height: 31px; width: 88px;" alt="BY-NC-SA License"
						class="right"
					/>
				</a>
			</div>
		</footer> 
	</div>
	{% include "footer.tracking" %}
	{% include "footer.wysiwyg" %}
</body> 
</html>
