	{% if dom.wysiwyg %}
		<script type="text/javascript">
			Aloha.ready(function() {
				Aloha.jQuery("*[data-edit-href]").aloha();
				// create a new page
				$("*[data-new-href]").on("click", function() {
					$.ajax({
						cache:				false,
						type:				'GET',
						url:				$(this).attr('data-new-href'),
						success:			function(route) {
							window.location	=  route;
						}
					});
					return false;
				});
				$("*[data-edit-href]").on('click', function() {
					// store old html
//todo					jQuery('.aloha-floatingmenu').setPosition( 0 , 500 );
					$(this).data("current-content" , $(this).html() );
				}).on('blur' , function() {
					if( $(this).data("current-content") != $(this).html() ) {
						var	progressbar		= $('<div class="alert alert-info"><div class="middle progress progress-striped active"><div class="bar" style="width: 0%;"></div></div></div>');
						$(this).before( progressbar );
		
						$.ajax({
							cache: 			false,
							data:			{ newcontent: $(this).html() },
							processData:	true,
							type:			'POST',
							url:			$(this).attr('data-edit-href'),
							success:		function() {
								progressbar.find(".bar").animate({
									width:	'100%'
								} , 2000 , function() {
									progressbar.remove()
								});
							}
						});
					}
				});
			});
		</script>
	{% endif %}