		<hr>
		<footer class="row">
			<div class="span6">
				<address>
					<h6>HYN.me; simply a modern, web 2.0 CMS</h6>
				</address>
			</div>
			<div class="span6">
				<a 
					href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
					<img 
 					data-popover-placement="top" 
					data-content="<strong>Summary:</strong> This license lets you remix, tweak, and build upon our work non-commercially, as long as you credit us and license your new creations under the identical terms." 
					data-original-title="HYN License"
					src="/images/hyn.me/by-nc-sa.eu.png" style="height: 31px; width: 88px;" alt="BY-NC-SA License" />
				</a>
			</div>
		</footer> 
	</div>
	{% if dom.piwik %}
	<script type="text/javascript">
	var pkBaseURL = "/stats/";
	document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	</script><script type="text/javascript">
	try {
	var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ ms.id }});
	piwikTracker.trackPageView();
	piwikTracker.enableLinkTracking();
	} catch( err ) {}
	</script><noscript><p><img src="/stats/piwik.php?idsite={{ ms.id }}" style="border:0" alt="" /></p></noscript>
	{% endif %}


	{% include "footer.wysiwyg" %}
</body> 
</html>
