
/**
		@module: page
*/
*[data-edit-href]
{  }



/**/

      
ul.nodots
{ list-style-type: none !important; margin: 0; padding: 0; width: 100%; }
.width-100
{ width: 100% !important; }
.width-30
{ width: 30% !important; }
.width-50
{ width: 50% !important; }
.width-60
{ width: 60% !important; }
.smaller
{ font-size: .9em !important; }
.smallest
{ font-size: .8em !important; }
.text-center
{ text-align: center; }
.text-right
{ text-align: right; }
.middle
{ margin: 0 auto; }

.height-min-100											.height-min-200
{ min-height: 100px; }									{ min-height: 200px; }
.height-min-300											.height-min-400
{ min-height: 300px; }									{ min-height: 400px; }
.height-min-500											.height-min-600
{ min-height: 500px; }									{ min-height: 600px; }

/*
.table
{ width: 100%; }
.table thead th
{ font-variant: small-caps; padding: 8px 0; font-family: "Molengo"; background: -moz-linear-gradient(center bottom , #d0d0d0 42%, #e0e0e0 50%); color: #3b3a3a; border-bottom: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0; border-top: 1px solid #f0f0f0; border-left: 1px solid #f0f0f0; }
	.table thead th:first-child
	{ border-top-left-radius: 5px; }
	.table thead th:last-child
	{ border-top-right-radius: 5px; }
.table tfoot td
{ text-shadow: #f0f0f0 0 1px 0; font-variant: small-caps; text-align: center; padding: 12px 0; font-family: "Molengo"; background: -moz-linear-gradient(center bottom , #dcdcdc 42%, #e0e0e0 50%); color: #3b3a3a; border-bottom: 1px solid #c9c9c9; border-right: 1px solid #c9c9c9; border-top: 1px solid #f0f0f0; border-left: 1px solid #f0f0f0; }
	.table tfoot td:first-child
	{ border-bottom-left-radius: 5px; text-shadow: #f0f0f0 -1px 1px 0; }
	.table tfoot td:last-child
	{ border-bottom-right-radius: 5px;text-shadow: #f0f0f0 1px 1px 0; }
.table tbody td
{ padding: 5px 3px; font-size: 0.8em; }
	.table tbody tr.odd
	{ background: #e9e9e9; }
	.table tbody tr.odd td
	{ border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-top: 1px solid #f3f3f3; border-left: 1px solid #f3f3f3; }
	.table tbody tr.even
	{ background: #d9d9d9; }
	.table tbody tr.even td
	{ border-bottom: 1px solid #d0d0d0; border-right: 1px solid #d0d0d0; border-top: 1px solid #e9e9e9; border-left: 1px solid #e9e9e9; }
	.table tbody tr:hover
	{ background: #efefef; }
	.table tbody tr:hover td
	{ border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-top: 1px solid #f9f9f9; border-left: 1px solid #f9f9f9; }

.forms .f-item
{ margin-top: 1em; }
.forms .f-field
{ width: 40%; }
.forms .f-value
{ width: 55%; }
.forms .f-info
{ font-size: 0.8em; font-style: italic; color: #aaa; }
.forms .f-error
{ font-family: "Cousine"; color: #8d0000; }
*/
.marged			{ margin: .2em !important; }				.padded			{ padding: .4em !important; }
.marged-n 		{ margin: .2em 0 0 0 !important; }			.padded-n		{ padding: .4em 0 0 0 !important; }
.marged-e		{ margin: 0 .2em 0 0 !important; }			.padded-e		{ padding: 0 .4em 0 0 !important; }
.marged-s		{ margin: 0 0 .2em 0 !important; }			.padded-s		{ padding: 0 0 .4em 0 !important; }
.marged-w		{ margin: 0 0 0 .2em !important; }			.padded-w		{ padding: 0 0 0 .4em !important; }
.marged-ne		{ margin: .2em .2em 0 0 !important; }		.padded-ne		{ padding: .4em .4em 0 0 !important; }
.marged-ns		{ margin: .2em 0 !important; }				.padded-ns		{ padding: .4em 0 !important; }
.marged-nw 		{ margin: .2em 0 0 .2em !important; }		.padded-nw		{ padding: .4em 0 0 .4em !important; }
.marged-es		{ margin: 0 .2em .2em 0 !important; }		.padded-es		{ padding: 0 .4em .4em 0 !important; }
.marged-ew		{ margin: 0 .2em !important; }				.padded-ew		{ padding: 0 .4em !important; }
.marged-sw		{ margin: 0 0 .2em .2em !important; }		.padded-sw		{ padding: 0 0 .4em .4em !important; }

.left
{ float: left; }
.right
{ float: right; }
.clear, .clear-both			{ clear: both; }
.clear-left		{ clear: left; }							.clear-right	{ clear: right; }

.inline			{ display: inline; }

.shadow-n		{ box-shadow: 0px -3px 2px #444; -moz-box-shadow: 0px -3px 2px #444; -webkit-box-shadow: 0px -3px 2px #444;  }
.shadow-e		{ box-shadow: 3px 0px 2px #444; -moz-box-shadow: 3px 0px 2px #444; -webkit-box-shadow: 3px 0px 2px #444;  }
.shadow-s		{ box-shadow: 0px 3px 2px #444; -moz-box-shadow: 0px 3px 2px #444; -webkit-box-shadow: 0px 3px 2px #444;  }
.shadow			{ box-shadow: 0px 0px 2px #444; -moz-box-shadow: 0px 0px 2px #444; -webkit-box-shadow: 0px 0px 2px #444; }

.shadow-light	{ box-shadow: 0px 0px 2px #999; -moz-box-shadow: 0px 0px 2px #999; -webkit-box-shadow: 0px 0px 2px #999; }
.shadow-light-e	{ box-shadow: 3px 0px 2px #999; -moz-box-shadow: 3px 0px 2px #999; -webkit-box-shadow: 3px 0px 2px #999;  }
.shadow-light-n	{ box-shadow: 0px -3px 2px #999; -moz-box-shadow: 0px -3px 2px #999; -webkit-box-shadow: 0px -3px 2px #999; }
.shadow-light-s	{ box-shadow: 0px 3px 2px #999; -moz-box-shadow: 0px 3px 2px #999; -webkit-box-shadow: 0px 3px 2px #999; }

.transparent-1	{ opacity: .1; }	.transparent-2	{ opacity: .2; }	.transparent-3	{ opacity: .3; }	.transparent-4	{ opacity: .4; }	.transparent-5	{ opacity: .5; }
.transparent-6	{ opacity: .6; }	.transparent-7	{ opacity: .7; }	.transparent-8	{ opacity: .8; }	.transparent-9	{ opacity: .9; }	.transparent-10, .transparent-off	{ opacity: 1; }

.clickable		{ cursor: pointer; }

.z-254			{ z-index: 254; }	.z-255			{ z-index: 255; }	.z-239			{ z-index: 239; }	.z-240			{ z-index: 240; }

.block			{ display: block; }

.hidden			{ display: none; }